In [19]:
import numpy as np
import pandas as pd 
from sklearn.linear_model import LinearRegression
import statsmodels.api as sm

import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

In [20]:
raw_data = pd.read_csv('/Users/arpitagnihotri/Downloads/2.02. Binary predictors.csv')
raw_data

      SAT Admitted  Gender
0    1363       No    Male
1    1792      Yes  Female
2    1954      Yes  Female
3    1653       No    Male
4    1593       No    Male
..    ...      ...     ...
163  1722      Yes  Female
164  1750      Yes    Male
165  1555       No    Male
166  1524       No    Male
167  1461       No    Male

[168 rows x 3 columns]

In [21]:
data = raw_data.copy()
data['Admitted'] = data['Admitted'].map({'Yes':1, 'No' :0})
data['Gender'] = data['Gender'].map({'Female' :1 , 'Male' :0})
data

      SAT  Admitted  Gender
0    1363         0       0
1    1792         1       1
2    1954         1       1
3    1653         0       0
4    1593         0       0
..    ...       ...     ...
163  1722         1       1
164  1750         1       0
165  1555         0       0
166  1524         0       0
167  1461         0       0

[168 rows x 3 columns]

In [27]:
y = data['Admitted']
x1 = data[['SAT','Gender']]

In [29]:
x = sm.add_constant(x1)
reg_log = sm.Logit(y,x1)
results_log = reg_log.fit()
results_log.summary()

Optimization terminated successfully.
         Current function value: 0.590343
         Iterations 5

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:               Admitted   No. Observations:                  168
Model:                          Logit   Df Residuals:                      166
Method:                           MLE   Df Model:                            1
Date:                Sun, 17 Dec 2023   Pseudo R-squ.:                  0.1395
Time:                        22:21:42   Log-Likelihood:                -99.178
converged:                       True   LL-Null:                       -115.26
Covariance Type:            nonrobust   LLR p-value:                 1.423e-08
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
SAT           -0.0002      0.000     -1.654      0.098      -0.000    3.99e-05
Gender         1.8173      0.369      4.927      0.000       1.094       2.540
==============================================================================
"""

In [30]:
x2 = sm.add_constant(x)
reg_log_1 = sm.OLS(y,x1)
results_summary_1 = reg_log_1.fit()
results_summary_1

In [31]:
np.exp(2.07)

7.924823117849487

In [ ]:
#Trying to find accuracy of model
np.set_printoptions(formatter= {'float' : lambda x : "{0.0.2f"})